@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

:root {
    --transition-default: 0.3s all ease-in-out;
    --font-heading: "Pridi", serif;
    --font-theme: "Poppins", serif;
    --size-theme: 14px;


    /* Color Base */
    --primary-color: #19224D;
    --primary-hover: #131c44;
    --primary-rgb: 26, 173, 166;

    --secondary-color: #AC8EFA;
    --secondary-color-50: #E0D3FF;

    --gray-color: #B0B2BB;
    --bg-gradient: linear-gradient(to bottom, #D1C3F6, #9E7BFB);

    --dark-color: #111215;
    --dark-900: #1C1E23;
    --dark-800: #32353E;
    --dark-700: #494D5A;
    --dark-600: #5F6475;
    --dark-500: #767C90;
    --dark-400: #9196A6;
    --dark-300: #ADB1BC;

    --bg-light: #F8F8F9;
}


body {
    position: relative;
    width: 100%;
    color: var(--primary-color);
    font-family: var(--font-theme);
    font-size: var(--size-theme);
    font-weight: 400;
    font-style: normal;
    background-color: var(--bs-white);
    letter-spacing: 0.5px;
    height: 100vh;
    overflow: hidden;
}

.main > .position-absolute.overflow-y {
    width: 100%;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

button,
button:hover,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
    cursor: pointer !important;
}

input,
select,
textarea {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.transition-default {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.pseudo {
    position: relative;
}

.pseudo:before,
.pseudo:after {
    position: absolute;
    content: '';
    display: block;
}

.zi--1 {
    z-index: -1;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.zi-10 {
    z-index: 10;
}

.ratio > img {
    -o-object-fit: cover;
    object-fit: cover;
}

.ratio-2x1 {
    --bs-aspect-ratio: 50%;
}

.ratio-3x2 {
    --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.gap-5px {
    gap: 5px;
}

.gap-10px {
    gap: 10px;
}

.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}

.gap-25px {
    gap: 25px;
}

.gap-30px {
    gap: 30px;
}

.link-default {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.link-default:active {
    color: var(--primary-color);
}

.flex-same {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 0px !important;
    flex: 1 1 0 !important;
}

.fz-10 {
    font-size: .7em;
}

.fz-11 {
    font-size: .775em;
}

.fz-12 {
    font-size: .85em;
}

.fz-13 {
    font-size: .925em;
}

.fz-14 {
    font-size: 1em;
}

.fz-15 {
    font-size: 1.075em;
}

.fz-16 {
    font-size: 1.15em;
}

.fz-17 {
    font-size: 1.225em;
}

.fz-18 {
    font-size: 1.3em;
}

.fz-19 {
    font-size: 1.375em;
}

.fz-20 {
    font-size: 1.45em;
}

.fz-21 {
    font-size: 1.525em;
}

.fz-22 {
    font-size: 1.6em;
}

.fz-23 {
    font-size: 1.675em;
}

.fz-24 {
    font-size: 1.75em;
}

.fz-inherit {
    font-size: inherit !important
}

.color-inherit {
    color: inherit !important
}

.primary-color {
    color: var(--primary-color);
}

.dark-color {
    color: var(--dark-color);
}

.dark-color_900 {
    color: var(--dark-900);
}

.dark-color_800 {
    color: var(--dark-800);
}

.dark-color_700 {
    color: var(--dark-700);
}

.dark-color_600 {
    color: var(--dark-600);
}

.dark-color_500 {
    color: var(--dark-500);
}

.dark-color_400 {
    color: var(--dark-400);
}

.dark-color_300 {
    color: var(--dark-300);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.mw-25px {
    min-width: 25px !important;
}

.mw-50px {
    min-width: 50px !important;
}

.mw-75px {
    min-width: 75px !important;
}

.mw-100px {
    min-width: 100px !important;
}

.overflow-y {
    overflow-y: auto !important;
}

.overflow-y::-webkit-scrollbar,
.scrollbar-hidden::-webkit-scrollbar,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.effect-path svg path {
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
}

.effect-path:active svg path {
    fill: var(--bs-white);
}

.button-theme {
    padding: 10px 24px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-radius: 25px;
    border: 1px solid transparent;
    gap: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.05em;
    font-weight: 600;
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    white-space: nowrap;
}

.button-theme.button-theme_small {
    padding: 6px 18px;
    font-size: .925em;
}

.button-theme.button-theme_large {
    padding: 12px 30px;
    font-size: 1.075em;
}

.button-theme_circle.button-theme {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    padding: 0;
}

.button-theme_circle.button-theme_small {
    height: 33px;
    width: 33px;
}

.button-theme_circle.button-theme_large {
    height: 48.5px;
    width: 48.5px;
}

.button-theme svg path {
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
}

.button-theme:hover {
    opacity: 0.9;
}

.button-theme[disabled] {
    background-color: #ECECEC !important;
    color: #B1B1B1 !important;
    pointer-events: none !important;
}

.button-theme.button-theme_primary {
    color: var(--bs-white);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.button-theme.button-theme_dark {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.button-theme.button-theme_outline_primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--bs-white);
}

.button-theme.button-theme_overlay {
    color: var(--bs-black);
    background-color: var(--primary-color);
}

.button-theme.button-theme_outline_dark {
    color: var(--dark-color);
    border-color: var(--dark-color);
    background-color: var(--bs-white);
}

.button-theme.button-theme_secondary {
    background-color: var(--secondary-color);
    color: var(--bs-white);
    border-color: transparent;
}

.button-theme.button-theme_light {
    background-color: var(--bs-white);
    color: var(--dark-color);
    border-color: transparent;
}

.button-theme.button-theme_primary:active svg path,
.button-theme.button-theme_outline_dark:active svg path {
    fill: var(--bs-white);
}
.c-scrim {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1058;
}

.c-datepicker {
    z-index: 1059;
    min-height: 350px;
    padding-bottom: 85px;
    border-radius: 24px;
    overflow: hidden;
    top: 75%;
}

.c-datepicker__calendar {
    height: auto;
}


.c-datepicker.c-datepicker {
    top: 50%;
}

.c-datepicker,
.c-datepicker:after,
.c-datepicker:before,
.c-datepicker *,
.c-datepicker *:after,
.c-datepicker *:before {
    -webkit-box-sizing: unset;
    box-sizing: unset;
}

.c-datepicker__header,
.c-datepicker__clock,
.c-datepicker .c-datepicker--show-time:after,
.c-datepicker .c-datepicker--show-calendar:after {
    display: none !important;
}

.c-datepicker__header-day {
    background-color: var(--primary-color);
}

.c-datepicker__header-date {
    background-color: var(--primary-hover);
}

.c-datepicker__header-date__month {
    font-size: 1.3em;
}

.c-datepicker__header-date__day {
    line-height: 1.35;
    font-size: 4em;
}

.c-datepicker__header-date__time {
    font-size: 1.7em;
}

.c-datepicker__clock-hands {
    background-color: var(--secondary-color);
}

.c-datepicker__day--selected {
    color: var(--bs-white);
}

.c-datepicker__day--selected::after {
    background-color: var(--secondary-color) !important;
    z-index: -1;
}

.c-datepicker__hour-hand,
.u-hover-ball-effect:hover:before, .c-datepicker__day-body:hover:before, .c-datepicker__clock__num:hover:before, .c-datepicker__clock__am-pm-toggle label:hover:before {
    background-color: var(--secondary-color-50) !important;
}

.c-btn {
    color: var(--dark-700);
    padding: 8px 24px;
    border-radius: 25px;
    border: 1px solid transparent;
    width: calc(100% / 2 - 5px);
    font-weight: 600;
}
.c-btn:hover{
    opacity: 0.9;
}
.rd-month-label {
    font-size: 16px;
    font-weight: 500;
}

.c-datepicker__day-head {
    color: var(--dark-color);
}

.c-datepicker__day-head,
.c-datepicker__day-body {
    font-size: 14px;
}

.c-datepicker .modal-btns {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap:5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - 20px);
}

.c-datepicker .modal-btns .js-ok {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    gap: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    white-space: nowrap;
    background-color: var(--secondary-color);
    color: var(--bs-white);
}

.c-datepicker .modal-btns .js-ok:active {
    background-color: var(--secondary-color);
}

.c-datepicker .modal-btns .js-cancel {
    color: var(--bs-white);
    background-color: var(--bs-black);
}
.c-datepicker .modal-btns .js-cancel:hover{
    opacity: 0.8;
}

.bg-gradient {
    background: var(--bg-gradient) !important;
}
.bg-orange{
    color: #CFAE3D;
    background-color: #FFDF75;
}
.bg-pink{
    color:#DD76C7;
    background-color: #F9B7EB;
}
.bg-green{
    color:#9FAF3F;
    background-color: #D3E27B;
}
.bg-blue{
    color:#7D9CCF;
    background-color: #BED5FC;
}
.text-primary{
    color:var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}

.text-gray {
    color: #B0B2BB;
}

.font-heading {
    font-family: var(--font-heading) !important;
}
.form-check.form-switch{
    gap:8px;
}
.form-switch{
    padding-left: inherit;
}
.form-switch .form-check-input{
    width: 2.3em;
    height: 1.2em;
    margin-top: 0;
    margin-left: unset;
    background-color: #B8A0F8;
    border-color: #B8A0F8;
    border: 1px solid #B8A0F8;
    background-position: left center;
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="%23ffffff" /%3e%3c/svg%3e');
}
.form-check-input:checked{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.bg-white-after::after{
    position: absolute;
    content: '';
    left: 0;
    top:100%;
    width: 100%;
    height: 100vh;
    background-color: var(--bs-white);
}
.section-page {
    padding: 50px 0 70px 0;
}

.section-page-70 {
    padding: 70px 0;
}

.section-heading {
    margin-bottom: 30px;
}

.heading-title {
    font-size: 2.6em;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.15;
}

.heading-title-3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}
.heading-title-4 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 0;
}
.heading-description {
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.15em;
}
