.section-header{
    padding: 20px 0 15px 0;
}

.header-back {
    background-color: #ECECEC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-gray-700);
    font-weight: 500;
    font-size: 16px;
    width: 38px;
    height: 38px;
    transition: var(--transition-default);
    border:1px solid #ECECEC;
}
.header-back svg{
    width: 16px;
    height: 16px;
}
.header-back:hover{
    background-color:var(--secondary-color);
    color:var(--bs-white);
    border: 1px solid var(--secondary-color);
}
.header-back:hover svg path{
    fill: var(--bs-white);
}

.header-logo{
    width: 75px;
    height: 75px;
    margin-bottom: 40px;
}
.section-form{
    max-width: 400px;
}
.section-form .form-group-input{
    font-size: 1.2em;
    height: 40px;
}
.section-form .form-group-input .form-label{
    height: 40px;
    font-weight: 500;
    font-size: 1em;
}
.section-form .form-group-input .form-control{
    border: 1px solid transparent;
    border-radius: 0;
    padding: 3px;
    color:var(--primary-color);
    max-width: 145px;
    font-weight: 500;
    font-size: 1em;
}
.section-form .form-group-input .form-control::placeholder{
    color:#D9D9D9;
}
.section-form__decor-left .circle-1{
    top: 20%;
    left: 10vw;
    width: 10px;
    height: 10px;
}
.section-form__decor-left .star-left{
    top: 36%;
    left: 0;
    width: 40px;
    height: 40px;
}
.section-form__decor-left .circle-2{
    top: 66%;
    left: 2vw;
    width: 10px;
    height: 10px;
}
.section-form__decor-right .circle-3{
    top: 32%;
    right: 2vw;
    width: 6px;
    height: 6px;
}
.section-form__decor-right .star-right{
    top: 77%;
    right: 2vw;
    width: 30px;
    height: 30px;
}
.section-form__decor-right .circle-4{
    top: 56%;
    right: 8vw;
    width: 6px;
    height: 6px;
}

@media(max-width: 576px) {
    .section-form{
        max-width: 350px;
    }
}