.form-search__wrap .form-search__item .form-control,
.form-search__wrap .form-search__item .search-select__input {
    border: 1px solid transparent;
    font-weight: 400;
    border-radius: 25px;
    padding: 3px 15px 3px 40px;
    height: 44px;
    font-size: 15px;
    color: var(--primary-color);
    background-color: var(--bs-white);
    width: 100%;
}

.form-search__wrap .form-search__item .form-control::placeholder {
    color: var(--gray-color);
}

.form-search__wrap .form-search__item .form-control:focus {
    border: 1px solid var(--secondary-color);
}

.form-search__wrap .form-search__item .icon {
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.form-search__wrap .form-search__item .arrow {
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.form-search__wrap .form-search__item .icon svg,
.form-search__wrap .form-search__item .arrow svg {
    width: 13px;
    height: 13px;
}

.form-search__wrap .form-select__input {
    width: 40%;
}

.form-search__wrap .button-search {
    width: 20%;
    background-color: var(--bs-dark);
    color: var(--bs-white);
    border-radius: 30px;
    border: 1px solid var(--bs-dark);
    display: block;
    height: 43px;
    font-size: 1em;
    font-weight: 500;
}

.form-search__wrap .button-search:hover {
    opacity: 0.9;
}

.section-header {
    padding: 20px 0;
}

.section-header .header-back,
.section-header .header-delete {
    background-color: #ECECEC;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-gray-700);
    font-weight: 500;
    font-size: 16px;
    width: 40px;
    height: 40px;
    transition: var(--transition-default);
    border: 1px solid #ECECEC;
}

.section-header .header-back svg {
    width: 16px;
    height: 16px;
}

.section-header .header-delete svg {
    width: 11px;
    height: 14px;
}

.section-header .header-back:hover,
.section-header .header-delete:hover {
    background-color: var(--secondary-color);
    color: var(--bs-white);
    border: 1px solid var(--secondary-color);
}

.section-header .header-back:hover svg path,
.section-header .header-delete:hover svg path {
    fill: var(--bs-white);
}

.section-header .header-title {
    line-height: normal;
    font-size: 1.7em;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.page-theme .section-body {
    padding: 90px 0;
}

.page-theme .section-header .header-back {
    background-color: var(--bs-white);
}

.page-theme .section-header .header-back:hover {
    background-color: var(--secondary-color);
}

.header-logo {
    width: 75px;
    height: 75px;
    margin-bottom: 50px;
}

.header-logo-congrats {
    width: 200px;
}

.header-logo-congrats,
.header-logo.header-logo-done {
    margin-bottom: 30px;
}

.section-form {
    max-width: 400px;
}

.section-form .section-form__wrap {
    font-size: 18px;
}

.section-form .section-form__wrap .number {
    color: #D9D9D9;
}

.section-form .section-form__wrap .number.active {
    color: var(--primary-color);
}

.section-form .form-group-input {
    font-size: 1.3em;
    height: 43px;
}

.section-form .form-group-input .form-label {
    height: 40px;
    font-weight: 500;
    font-size: 18px;
}

.section-form .form-group-input .form-control {
    border: 1px solid transparent;
    border-radius: 0;
    padding: 3px;
    color: var(--primary-color);
    max-width: 150px;
    font-weight: 500;
    font-size: 1.05em;
}

.section-form .form-group-input .form-control::placeholder {
    color: #D9D9D9;
}

.section-form .view-pass {
    color: #B1B1B1;
    width: 40px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 400;
    padding: 3px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

}

.section-form__decor-left .circle-1 {
    top: 20%;
    left: 10vw;
    width: 10px;
    height: 10px;
}

.section-form__decor-left .star-left {
    top: 36%;
    left: 0;
    width: 40px;
    height: 40px;
}

.section-form__decor-left .circle-2 {
    top: 66%;
    left: 2vw;
    width: 10px;
    height: 10px;
}

.section-form__decor-right .circle-3 {
    top: 32%;
    right: 2vw;
    width: 6px;
    height: 6px;
}

.section-form__decor-right .star-right {
    top: 77%;
    right: 2vw;
    width: 30px;
    height: 30px;
}

.section-form__decor-right .circle-4 {
    top: 56%;
    right: 8vw;
    width: 6px;
    height: 6px;
}

.section-form__link {
    color: #B1B1B1;
    font-size: 0.95em;
    margin-top: 10px;
}

.section-form__link:hover {
    color: var(--secondary-color);
}

.profile-avatar {
    width: 120px;
    height: 120px;
}

.profile-avatar .image-avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-name {
    font-size: 1.7em;
}

.profile-item:last-child {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid var(--bs-gray-500);
}

.section-profile__body {
    padding: 20px;
    background-color: #F3EFFF;
}

.profile-button {
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--secondary-color-50);
}

.profile-button.profile-button-2 {
    color: var(--secondary-color);
}

.profile-button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.profile-button__image {
    width: 16px;
    height: 16px;
    display: flex;
}

.profile-button__icon svg {
    width: 13px;
    height: 13px;
}

.profile-button__arrow svg {
    width: 12px;
    height: 12px;
}

.profile-button:hover svg path {
    fill: var(--bs-white);
}

.section-profile__decor-left .star-left {
    top: 8%;
    left: 7vw;
    width: 50px;
    height: 50px;
}

.section-profile__decor-left .circle-1 {
    top: 24%;
    left: 22vw;
    width: 6px;
    height: 6px;
}

.section-profile__decor-left .circle-2 {
    top: 33%;
    left: 5vw;
    width: 10px;
    height: 10px;
}

.section-profile__decor-right .circle-3 {
    top: 11%;
    right: 26vw;
    width: 6px;
    height: 6px;
}

.section-profile__decor-right .star-right {
    top: 20%;
    right: 10vw;
    width: 35px;
    height: 35px;
}

.section-profile__decor-right .circle-4 {
    top: 40%;
    right: 8vw;
    width: 6px;
    height: 6px;
}

.profile-button__edit {
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    position: absolute;
    right: 10px;
    top: 23px;
    z-index: 2;
    box-shadow: 0 0px 0 #00000003 !important;
    padding: 0;
    overflow: hidden;

}

.profile-button__edit .profile-button__edit___input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.profile-button__edit:hover {
    background-color: var(--bs-gray-100) !important;
}

.profile-button__edit svg {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.profile-button__edit svg path {
    fill: var(--bs-gray-900);
}

.profile-form .form-group label {
    font-size: 1.1em;
}

.profile-form .form-group .form-control {
    border: 1px solid transparent;
    border-bottom: 1px solid #D0D0D0;
    padding: 3px 40px 3px 0;
    border-radius: 0;
    height: 35px;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--primary-color);
}

.profile-form .form-group .icon {
    width: 25px;
    height: 35px;
}

.profile-form .form-group .icon svg {
    width: 16px;
    height: 16px;
}

.page-survey__body {
    height: calc(100% - 60px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 32px 0px #00000003;

}

.survey-item {
    border: 1px solid #F3EFFF;
    background-color: #F3EFFF;
    box-shadow: 0px 0px 32px 0px #00000003;
}

.customer-item,
.survey-item {
    font-weight: 500;
    padding: 18px 20px;
    border-radius: 15px;
}

.customer-item__name {
    font-size: 1.05em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.customer-item__text {
    font-size: 0.9em;
}

.customer-item__image {
    width: 22px;
    height: 22px;
}

.survey-item__title {
    font-size: 1.05em;
}

.survey-item__edit {
    width: 33px;
    height: 33px;
    background-color: var(--bs-white);
}

.survey-item__edit:hover {
    background-color: var(--secondary-color);
}

.survey-item__edit:hover svg path {
    fill: var(--bs-white);
}

.survey-item__edit svg {
    width: 12px;
    height: 12px;
}

.survey-item__body label {
    font-size: 0.9em;
    color: #B8A0F8;
}

.page-pro .heading-title-3 {
    font-size: 1.6em;
}

.page-survey__wrap {
    overflow-y: auto;
}

.page-survey__button .survey-button {
    box-shadow: 0px 0px 18px 0px #9F7CFA !important;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
}

.page-survey__button .survey-button svg {
    width: 22px;
    height: 22px;
    transition: var(--transition-default);
}

.page-survey__button .survey-button:hover svg {
    transform: rotate(90deg);
}

.page-survey__create {
    border-radius: 20px 20px 0 0;
}

.card-pro {
    background-color: #F3EFFF;
    border-radius: 30px;
    padding: 20px;
}

.card-pro__image {
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 25px 0px #A17FFB70;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.card-pro__image img {
    padding: 20px;
}

.card-pro__header {
    margin-top: 35px;
}

.card-pro__header .title,
.card-pro__header .text {
    font-size: 1.3em;
    line-height: 1.2;
}

.card-pro__header .text {
    margin-top: -3px;
}

.card-pro__header .number {
    font-size: 2.2em;
}

.card-pro__body .image {
    width: 26px;
    height: 26px;
}

.card-pro__body .no-active {
    color: #C5BDDE;
}

.card-pro__button {
    letter-spacing: 0.5px;
    height: 45px;
    font-size: 1.05em;
    font-weight: 600;
    width: 100%;
    border-radius: 25px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--bs-white);
    background: linear-gradient(90deg, #9F7CFB 0%, #B79BFF 100%);
    border: 1px solid var(--bs-white);
    box-shadow: 0px 0px 12px 0px #B193FE;
    transition: var(--transition-default);
    position: relative;
}

.card-pro__button:hover {
    color: var(--bs-white);
    background: linear-gradient(90deg, #B79BFF 0%, #9F7CFB 100%);
}

.card-pro__button .icon svg {
    width: 12px;
    height: 10px;
}

button.card-pro__button[disabled] {
    background: #DFD3FF;
    color: var(--secondary-color);
    border: 1px solid #DFD3FF;
}

.card-pro__button .star-decor-1 {
    left: -16px;
    width: 40px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.card-pro__button .star-decor-2 {
    right: -11px;
    width: 45px;
    height: 32px;
    top: 7px;
}

.page-welcome::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 75%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(0deg, #2A2A2A 40.16%, rgba(0, 0, 0, 0) 94.47%);
}

.notification-item {
    font-weight: 500;
    padding: 18px 20px;
    border-radius: 15px;
}

.notification-item__image {
    width: 42px;
    height: 42px;
}

.notification-item__title {
    font-size: 1.05em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 3px;
}

.notification-item__text,
.notification-item__time {
    font-size: 0.8em;
}

.notification-item__text {
    line-height: 1.3;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.notification-item__time .circle {
    width: 7px;
    height: 7px;
    background-color: #F97255;
}

.page-report .search-select {
    font-weight: 400;
    border-radius: 25px;
    padding: 3px 15px;
    height: 42px;
    width: 200px;
}

.page-report .search-select__input svg {
    width: 14px;
    height: 14px;
}

.page-report .search-select ul {
    padding: 12px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 32px 48px -8px rgb(0 0 0 / 11%), 0px 0px 14px -4px rgb(0 0 0 / 23%);
    backdrop-filter: blur(16px);
    min-width: 200px;
    right: 0;
    width: 100%;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.page-report .search-select:hover ul {
    transform: translateY(2px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.page-report .search-select ul > li {
    display: flex;
    padding: 10px 0;
    transition: var(--transition-default);
    line-height: 1.3;
    font-size: 0.9em;
}

.page-report .search-select ul > li:first-child {
    padding-top: 0;
}

.page-report .search-select ul > li:last-child {
    padding-bottom: 0;
}

.page-report .search-select ul > li:not(:last-child) {
    border-bottom: 1px solid #cebef65c;
}

.card-report {
    border-radius: 20px;
    box-shadow: 0px 0px 32px 0px #00000003;
}

.card-report__number {
    font-size: 2.2em;
}

.card-report__text .text {
    line-height: 1.2;
    transform: translateY(2px);
}

.card-report__text .icon svg {
    width: 13px;
    height: 14px;
}

.page-report__body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 50px);
}

.form-theme .form-group .form-label {
    font-size: 1.15em;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.form-theme .form-group .form-control,
.form-theme .search-select {
    border: 1px solid #CECECE;
    box-shadow: 0px 0px 32px 0px #00000003;
    border-radius: 10px;
    height: 43px;
    font-size: 1em;
    color: var(--primary-color);
    padding: 3px 12px;
    font-weight: 500;
}

.form-theme .search-select ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--bs-white);
    border-radius: 10px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    box-shadow: 0px 0px 32px 0px #00000003;
    border: 1px solid #CECECE;
}

.form-theme .search-select:hover ul {
    transform: translateY(2px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form-theme .search-select ul li {
    padding: 8px 10px;
    font-weight: 500;
    font-size: 0.9em;
}

.form-theme .search-select ul li:not(:last-child) {
    border-bottom: 1px solid #cebef65c;
}

.form-theme .search-select .search-select__input svg,
.form-theme .form-group .form-group__date .icon svg {
    width: 12px;
    height: 12px;
}

.form-theme .form-group .form-control:focus {
    border: 1px solid var(--secondary-color);
}

.form-theme .form-group .form-control::placeholder {
    color: #CECECE;
}

.form-theme .form-group .form-group__date .icon {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.survey-create__button {
    font-size: 1.15em;
    color: var(--secondary-color);
}

.survey-create__button:hover {
    color: var(--secondary-color-50);
}

.survey-create__button svg {
    width: 16px;
    height: 16px;
}

.list-button-check .button-check__item {
    border-radius: 20px;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 25px 20px;
    color: #ADADAD;
    font-size: 1.05em;
    width: calc(100% / 2 - 0.5rem);
    background: #F6F6F6;
    text-align: start;
    box-shadow: 0px 0px 32px 0px #00000003;
    cursor: pointer;

}

.list-button-check .button-check__item.active,
.list-button-check .button-check__item:hover {
    color: var(--primary-color);
    backdrop-filter: blur(180px);
    background-color: var(--secondary-color-25);
    border: 2px solid var(--secondary-color);
}

.popup-theme {
    position: fixed;
    z-index: 1999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
}

.popup-theme:before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    display: block;
    background: var(--bs-black);
    opacity: 0.8;
    z-index: 1;
}

.popup-theme .popup-theme_body {
    position: relative;
    z-index: 2;
}

.popup-theme .popup-theme_close,
.modal-popup__close {
    position: absolute;
    z-index: 3;
    background: var(--secondary-color);
    color: var(--bs-white);
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
    border-radius: 50%;
    top: 0;
    right: 0;
    transition: var(--transition-default);
}

.modal-popup__close {
    top: 10px;
    right: 10px;
}

.popup-theme .popup-theme_close:hover,
.modal-popup__close:hover {
    background: var(--secondary-color-50);
}

.show-popup {
    height: 100vh;
    overflow: hidden;
}

.show-popup .popup-theme {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.page-checkin,
.form-table__number {
    margin: 0 auto;
    width: 70%;
}

.page-checkin__body {
    padding: 40px;
}

.page-checkin__body::after,
.page-checkin__body::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 30px;
    bottom: 30px;
    background-color: #FFFFFF80;

}

.page-checkin__body::after {
    left: 104%;
    border-radius: 20px 0 0 20px;
}

.page-checkin__body::before {
    right: 104%;
    border-radius: 0 20px 20px 0;
}

.page-checkin .image-decor-1,
.page-checkin .image-decor-2 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 20%;
    z-index: 1;

}

.page-checkin .image-decor-1 {
    left: -5vw;
}

.page-checkin .image-decor-2 {
    right: -5vw;
}

.page-checkin__image {
    width: 230px;
    height: 230px;
    transform: translateX(-15px);
}

.page-checkin__button {
    padding: 6px !important;
    color: #ABABAB !important;
    font-weight: 500;
}

.page-checkin__button .image,
.page-checkin__button .icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.page-checkin__button .icon svg {
    width: 28px;
    height: 28px;
}

.form-table__number .number-item {
    border-radius: 30px;
    background-color: #D9D9D9;
    padding: 4px;
    width: calc(100% / 3 - 0.5rem);
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.075em;
    cursor: pointer;
}

.form-table__number .number-item svg {
    width: 23px;
    height: 23px;
}

.form-table__number .number-item.number-clear,
.form-table__number .number-item:hover {
    background-color: var(--secondary-color);
    color: var(--bs-white);
}

.form-table__number .number-item.number-ok {
    background-color: var(--bs-black);
    color: var(--bs-white);
}

.card-feedback {
    border-radius: 25px;
    font-weight: 500;
    padding: 18px 20px;
}

.card-feedback__star img {
    width: 13px;
    height: 13px;
}

.card-feedback__time {
    font-size: 0.9em;
}

.card-feedback__time .circle {
    width: 7px;
    height: 7px;
    background-color: #F97255;
}

.card-feedback__name {
    font-size: 1.2em;
}

.card-feedback__phone .image {
    width: 22px;
    height: 22px;
}

.card-feedback__phone .number {
    font-size: 0.85em;
}

.card-feedback__text {
    font-size: 0.9em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.page-home .section-heading .icon {
    width: 38px;
    height: 38px;
}

.page-home .section-heading .title {
    transform: translateY(4px);
}

.page-home__notification {
    width: 35px;
    height: 35px;
}

.page-home__notification > span {
    background-color: #FB4E4E;
    width: 12px;
    height: 12px;
    right: 1px;
    top: 3px;
}

.page-home__body {
    border-radius: 25px;
    box-shadow: 0px 0px 32px 0px #00000003;
    padding-bottom: 50px;
}

.page-home__body .body-wrap {
    height: calc(100% - 70px);
}

.card-box {
    border-radius: 20px;
    padding: 15px;
    background-color: #D9EEF3;
    color: #9CD5E3;
}

.card-box__title {
    font-size: 1.3em;
}

.card-box__icon {
    width: 40px;
    height: 40px;
}

.card-box__number {
    font-size: 1.8em;
}

.card-box__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.card-box__link svg {
    width: 12px;
    height: 12px;
}

.card-box.box-1 .card-box__image .item {
    width: 50px;
    height: 50px;
}

.card-box.box-1 .card-box__image .item:not(:first-child) {
    margin-left: -15px;
}

.card-box.box-1 .card-box__image .item img {
    padding: 3px;
}

.card-box.box-1 .card-box__decor {
    left: -30px;
    top: -222px;
    width: 329px;
    height: 325px;
    transform: rotate(-5deg);
}

.card-box.box-2 {
    color: #DFBC43;
    background-color: #FFE075;
}

.card-box.box-2 .card-box__decor {
    left: -24px;
    bottom: -45px;
    width: 180px;
    height: 125px;
}

.card-box.box-3 {
    color: #EF7B44;
    background-color: #FFA87E;
}

.card-box.box-3 .card-box__decor {
    right: 0;
    top: -45px;
    width: 135px;
    height: 110px;
}

.card-box.box-4 {
    background-color: #B9DDB7;
}

.card-box.box-4 .card-box__link {
    background-color: #A1CD9F;
}

.card-box.box-4 .card-box__decor {
    left: -53px;
    top: -54px;
    width: 210px;
    height: 135px;
}

.card-box.box-5 {
    color: #E899A6;
    background-color: #F7C0C9;
}

.card-box.box-5 .card-box__decor {
    left: -79px;
    top: -198px;
    width: 435px;
    height: 402px;
}

.card-box.box-6 {
    background-color: #BFC5FF;
}

.card-box.box-6 .card-box__link {
    background-color: #9EA5F1;
}

.page-home {
    padding: 50px 0;
}

.page-home__footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 25px;
    height: 75px;
    padding: 15px 30px;
    z-index: 3;
    background: linear-gradient(90deg, #49289E 0%, #704FC2 100%);
}

.page-home__footer .image {
    width: 100px;
    height: 100px;
    transform: translateY(-25px);
}

.page-home__footer .title {
    font-size: 1.35em;
}
.page-home__footer svg{
    width: 30px;
    height: 10px;
}

@media (max-width: 992px) {
    .page-checkin .image-decor-1 {
        left: -12vw;
    }

    .page-checkin .image-decor-2 {
        right: -12vw;
    }

}

@media (max-width: 600px) {
    .page-checkin,
    .form-table__number {
        width: 85%;
    }

    .page-checkin__body {
        padding: 20px;
    }

    .page-checkin__image {
        width: 200px;
        height: 200px;
    }

    .page-checkin .image-decor-1, .page-checkin .image-decor-2 {
        width: 140px;
        height: 140px;
        top: 28%;
    }

    .page-checkin__button .image,
    .page-checkin__button .icon {
        width: 38px;
        height: 38px;
    }

    .page-checkin__button .icon {
        width: 30px;
        height: 30px;
    }

    .page-checkin__button .icon svg {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 576px) {
    .section-form {
        max-width: 350px;
    }

    .section-profile__body {
        padding: 12px;
    }

    .profile-button,
    .profile-item {
        font-size: 0.95em;
    }

    .profile-button {
        padding: 12px 15px;
    }

    .profile-item:last-child {
        margin-left: 15px;
        padding-left: 15px;
    }

    .customer-item,
    .notification-item {
        gap: 5px;
        padding: 15px;
    }

    .card-pro {
        margin-top: 20px;
    }

    .card-pro__image {
        width: 70px;
        height: 70px;
    }

    .card-pro__body .image {
        width: 18px;
        height: 18px;
    }

    .card-pro__button {
        height: 40px;
    }

    .page-pro__wrap {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 40px;
    }

    .page-pro__wrap::-webkit-scrollbar {
        width: 0;
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .section-header .header-title,
    .page-pro .heading-title-3 {
        font-size: 1.6em;
    }

    .card-report {
        padding: 20px !important;
    }

    .card-report__number {
        font-size: 2em;
    }

    .popup-theme .popup-theme_body {
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .section-header .header-title,
    .page-pro .heading-title-3 {
        font-size: 1.5em;
    }

    .card-pro {
        font-size: 11px;
        padding: 10px;
    }

    .card-pro__image {
        width: 60px;
        height: 60px;
    }

    .card-pro__image img {
        padding: 18px;
    }

    .card-pro__header {
        margin-top: 25px;
    }

    .page-report {
        height: unset !important;
    }

    .page-checkin .image-decor-1, .page-checkin .image-decor-2 {
        width: 120px;
        height: 120px;
    }

    .page-checkin__button {
        font-size: 1em !important;
    }
}
